<?xml version="1.0"?>
<connectionStrings>
  
  <remove name="server"/>
  <add name="server" connectionString="Data Source=VMSTZHDB08\SZH_DBH_1;
      Initial Catalog=HBD_CAFM_V3;
      Persist Security Info=False;
      User Id=hbd_web_cafm_ps;
      Password=RKZuu/M3sQU=;
      MultipleActiveResultSets=False;
      Packet Size=4096;
      Application Name=&quot;STZH&quot;" 
      providerName="System.Data.SqlClient"/>
   
  <remove name="COR-PC-0"/>
  <!--  
    <add name="COR-PC-0" connectionString="Data Source=localhost;Initial Catalog=HBD_CAFM_Test;Persist Security Info=False;User Id=ApertureWebServices;Password=pvRkzKhYW/tk1IR+q5kvsg==;MultipleActiveResultSets=False;Packet Size=4096;Max Pool Size=5;Application Name=&quot;STZH&quot;" providerName="System.Data.SqlClient"/> 
    <add name="COR-PC-0" connectionString="Data Source=VMSTZHDB08\SZH_DBH_1;Initial Catalog=HBD_CAFM;Persist Security Info=False;User Id=ApertureWebServicesDE;Password=pvRkzKhYW/tk1IR+q5kvsg==;MultipleActiveResultSets=False;Packet Size=4096;Max Pool Size=5;Application Name=&quot;STZH&quot;" providerName="System.Data.SqlClient"/>
  -->
  <add name="COR-PC-0_produktiv" connectionString="Data Source=VMSTZHDB08\SZH_DBH_1;Initial Catalog=HBD_Produktiv;Persist Security Info=False;User Id=ApertureWebServicesDE;Password=pvRkzKhYW/tk1IR+q5kvsg==;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;STZH&quot;" providerName="System.Data.SqlClient"/>
  <add name="COR-PC-0" connectionString="Data Source=VMSTZHDB08\SZH_DBH_1;Initial Catalog=HBD_Integrativ;Persist Security Info=False;User Id=ApertureWebServicesDE;Password=pvRkzKhYW/tk1IR+q5kvsg==;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;STZH&quot;" providerName="System.Data.SqlClient"/>
  <add name="COR-PC-0_loc" connectionString="Data Source=COR-PC-0;Initial Catalog=HBD_CAFM;Persist Security Info=False;User Id=ApertureWebServicesDE;Password=pvRkzKhYW/tk1IR+q5kvsg==;MultipleActiveResultSets=False;Packet Size=4096;Max Pool Size=5;Application Name=&quot;STZH&quot;" providerName="System.Data.SqlClient"/>
  <add name="COR-PC-0_VMSTZHDB08" connectionString="Data Source=VMSTZHDB08\SZH_DBH_1;Initial Catalog=HBD_CAFM;Persist Security Info=False;User Id=ApertureWebServicesDE;Password=pvRkzKhYW/tk1IR+q5kvsg==;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;STZH&quot;" providerName="System.Data.SqlClient"/>
  
  
  <remove name="COR-W81-101"/>
  <add name="COR-W81-101" connectionString="Data Source=COR-W81-101;Initial Catalog=HBD_CAFM_V3;Persist Security Info=False;User Id=ApertureWebServicesDE;Password=pvRkzKhYW/tk1IR+q5kvsg==;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;STZH&quot;" providerName="System.Data.SqlClient"/>
  <!--
  <add name="COR-W81-101" connectionString="Data Source=COR-W81-101;Initial Catalog=StadtZuerich;Persist Security Info=False;User Id=ApertureWebServicesDE;Password=pvRkzKhYW/tk1IR+q5kvsg==;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;STZH&quot;" providerName="System.Data.SqlClient"/>
  <add name="COR-W81-101_integrativ" connectionString="Data Source=VMSTZHDB08\SZH_DBH_1;Initial Catalog=HBD_Integrativ;Persist Security Info=False;User Id=ApertureWebServicesDE;Password=pvRkzKhYW/tk1IR+q5kvsg==;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;STZH&quot;" providerName="System.Data.SqlClient"/>
  <add name="COR-W81-101_productive" connectionString="Data Source=VMSTZHDB08\SZH_DBH_1;Initial Catalog=HBD_CAFM_Productive;Persist Security Info=False;User Id=ApertureWebServicesDE;Password=pvRkzKhYW/tk1IR+q5kvsg==;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;STZH&quot;" providerName="System.Data.SqlClient"/>
  <add name="COR-W81-101_HBD_CAFM" connectionString="Data Source=VMSTZHDB08\SZH_DBH_1;Initial Catalog=STZH;Persist Security Info=False;User Id=ApertureWebServicesDE;Password=pvRkzKhYW/tk1IR+q5kvsg==;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;STZH&quot;" providerName="System.Data.SqlClient"/>
  -->
  
  
  <remove name="COR-W81-103"/>
  <!--<add name="COR-W81-103" connectionString="Data Source=COR-W81-103;Initial Catalog=StadtZuerich;Persist Security Info=False;User Id=ApertureWebServicesDE;Password=pvRkzKhYW/tk1IR+q5kvsg==;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;STZH&quot;" providerName="System.Data.SqlClient"/>-->
  <add name="COR-W81-103" connectionString="Data Source=COR-W81-103;Initial Catalog=STZH;Persist Security Info=False;User Id=ApertureWebServicesDE;Password=pvRkzKhYW/tk1IR+q5kvsg==;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;STZH&quot;" providerName="System.Data.SqlClient"/>
  <!--<add name="COR-W81-103" connectionString="Data Source=VMSTZHDB08\SZH_DBH_1;Initial Catalog=STZH;Persist Security Info=False;User Id=ApertureWebServicesDE;Password=pvRkzKhYW/tk1IR+q5kvsg==;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;STZH&quot;" providerName="System.Data.SqlClient"/>-->
  
  
  <remove name="CORDB2005"/>
  <add name="CORDB2005" connectionString="Data Source=CORDB2005;Initial Catalog=HBD_CAFM;Persist Security Info=False;User Id=ApertureWebServices;Password=pvRkzKhYW/tk1IR+q5kvsg==;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;STZH&quot;" providerName="System.Data.SqlClient"/>
  
  
  <remove name="CORDB2008R1"/>
  <add name="CORDB2008R1" connectionString="Data Source=CORDB2008R1;Initial Catalog=HBD_CAFM;Persist Security Info=False;User Id=ApertureWebServices;Password=pvRkzKhYW/tk1IR+q5kvsg==;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;STZH&quot;" providerName="System.Data.SqlClient"/>
  
  
  <remove name="CORDB2008R2"/>
  <add name="CORDB2008R2" connectionString="Data Source=CORDB2008R2;Initial Catalog=HBD_CAFM;Persist Security Info=False;User Id=ApertureWebServices;Password=pvRkzKhYW/tk1IR+q5kvsg==;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;STZH&quot;" providerName="System.Data.SqlClient"/>
  
  
  <remove name="WEBSRV1"/>
  <add name="WEBSRV1" connectionString="Data Source=WEBSRV1;Initial Catalog=HBD_CAFM;Persist Security Info=False;User Id=ApertureWebServices;Password=pvRkzKhYW/tk1IR+q5kvsg==;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;STZH&quot;" providerName="System.Data.SqlClient"/>
  
  
  <remove name="WEBSRV3"/>
  <add name="WEBSRV3" connectionString="Data Source=WEBSRV3;Initial Catalog=HBD_CAFM;Persist Security Info=False;User Id=ApertureWebServices;Password=pvRkzKhYW/tk1IR+q5kvsg==;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;STZH&quot;" providerName="System.Data.SqlClient"/>
  
</connectionStrings>
